# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache / compiled
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables (nested too)
.env
.env.*
**/.env
**/.env.*

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/
*.swp

# Build / dist
build/
dist/
*.egg-info/

# Static/tmp artifacts
/server/server/static/**
!/server/server/static/.gitkeep
/server/server/tmp/**
!/server/server/tmp/.gitkeep

# Misc files
delete_me.py
project_1.py
project_2.py
project_3.py